@import "partials/base";
@import "vars.json";
@import "partials/color";
@import "partials/header";

.config {
  width: 100%;
  height: calc(100% - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.config-center-location {
  h3 {
    color: $app-color;
    border-bottom: 1px solid $app-color;
    padding-bottom: 4px;
  }
  form {
    .item {
      margin: 10px 0;
      input {
        display: inline-block;
        float:right;
      }
    }
    .submit {
      text-align: center;
      margin-top: 16px;
    }
  }
}
