@import "partials/variables";
@import "partials/header";
@import "partials/controller";
@import "partials/report";

#site {
  height: 100%;
}

.app {
  position: relative;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
