@import "partials/base";
@import "vars.json";
@import "partials/color";
@import "partials/header";

.menu-wrapper {
  width: 100%;
  height: calc(100% - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button {
  cursor: pointer;
  width: 400px;
  text-align: center;
  width: 400px;
  text-align: center;
  margin: 20px;
  background: $app-color;
  padding: 20px;
  font-size: 40px;
  a {
    text-decoration: none;
    color: white;
  }
}

.menu-button:hover {
  background-color: lighten($app-color, 5%);
}

.menu-button:active {
  background-color: lighten($app-color, 10%);
}
